
Berechnungs-Tool1/.vs/Berechnungs-Tool/v16/.suo
Berechnungs-Tool1/.vs/Berechnungs-Tool/v16/.suo
Berechnungs-Tool1/.vs/Berechnungs-Tool/v16/Server/sqlite3/storage.ide
Berechnungs-Tool1/Berechnungs-Tool.csproj
Berechnungs-Tool1/bin/Debug/Berechnungs-Tool.exe
Berechnungs-Tool1/.vs/Berechnungs-Tool/v16/.suo
Berechnungs-Tool1/.vs/Berechnungs-Tool/v16/Server/sqlite3/storage.ide
